node-red/flows_ben-VirtualBox.json
[{"id":"5a42411f.a61d9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"25763f9c.33d99","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.43.40:4840","secpol":"None","secmode":"NONE","login":true},{"id":"ad46d82.cbf1928","type":"ui_group","z":"","name":"Default","tab":"45edf722.768df8","order":1,"disp":true,"width":"6","collapse":false},{"id":"115d597b.914ad7","type":"ui_group","name":"Group 2","tab":"45edf722.768df8","order":2,"disp":true,"width":6},{"id":"45edf722.768df8","type":"ui_tab","z":"","name":"flow3","icon":"dashboard"},{"id":"30182454.6d2dd4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f6b9bddb.d8cd5","type":"OpcUa-Browser","z":"5a42411f.a61d9","endpoint":"25763f9c.33d99","item":"","datatype":"","topic":"","items":[],"x":350,"y":400,"wires":[["1f598e01.b84bba"]]},{"id":"1f598e01.b84bba","type":"ui_template","z":"5a42411f.a61d9","group":"ad46d82.cbf1928","name":"Template","order":1,"width":"6","height":"6","format":"<div layout=\"row\" layout-align=\"space-between\">\n <select ng-model=\"item\" ng-options=\"items.item.displayName.text for items in msg.payload\">\n <option value=\"\">-- Objects Root --</option>\n </select>\n <button ng-click=\"send({payload: {actiontype: 'browse', root: item}})\">\n Browse\n </button>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n <ul>\n <li ng-repeat=\"items in msg.payload\">\n {{items.item.displayName.text}}: {{items.item.nodeId}}\n </li>\n </ul>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":345,"y":319,"wires":[["f6b9bddb.d8cd5"]]},{"id":"39e7b9ee.81ef2e","type":"OpcUa-Client","z":"5a42411f.a61d9","endpoint":"25763f9c.33d99","action":"subscribe","time":"1","timeUnit":"ms","name":"","x":560,"y":520,"wires":[["9b1e2293.694e78","5a3240e6.b952f"]]},{"id":"2712b871.7490a8","type":"OpcUa-Item","z":"5a42411f.a61d9","item":"ns=2;i=3","datatype":"Double","value":"","name":"","x":351,"y":525,"wires":[["39e7b9ee.81ef2e"]]},{"id":"f41bfda7.f7e238","type":"inject","z":"5a42411f.a61d9","name":"","topic":"ns=2;i=3","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":163,"y":525,"wires":[["2712b871.7490a8"]]},{"id":"94fa0b64.80ff2","type":"OpcUa-Client","z":"5a42411f.a61d9","endpoint":"25763f9c.33d99","action":"write","time":10,"timeUnit":"s","name":"","x":560,"y":600,"wires":[["be2bd07a.133fc"]]},{"id":"7f08fe67.e9426","type":"OpcUa-Item","z":"5a42411f.a61d9","item":"ns=2;i=3","datatype":"Double","value":"","name":"","x":360,"y":600,"wires":[["94fa0b64.80ff2"]]},{"id":"38f0bcd7.bebacc","type":"inject","z":"5a42411f.a61d9","name":"","topic":"ns=2;i=3","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":600,"wires":[["99040500.d9f838"]]},{"id":"885a832d.be7e7","type":"ui_slider","z":"5a42411f.a61d9","name":"Red","label":"Red","group":"115d597b.914ad7","order":3,"width":"","height":"","passthru":true,"topic":"ns=2;i=4","min":0,"max":"100","step":"","x":430,"y":840,"wires":[["2c8a1d43.b59de2"]]},{"id":"9b1e2293.694e78","type":"ui_gauge","z":"5a42411f.a61d9","name":"Temperature Gauge","group":"115d597b.914ad7","order":1,"width":"","height":"","gtype":"gage","title":"Temperature","label":"degrees ℃","format":"{{value}}","min":0,"max":"120","colors":["#f6f330","#e68100","#ca3838"],"seg1":"40","seg2":"80","x":880,"y":520,"wires":[]},{"id":"be2bd07a.133fc","type":"debug","z":"5a42411f.a61d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":600,"wires":[]},{"id":"5a3240e6.b952f","type":"debug","z":"5a42411f.a61d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":560,"wires":[]},{"id":"58a07a10.978c9c","type":"ui_slider","z":"5a42411f.a61d9","name":"Blue ","label":"Blue","group":"115d597b.914ad7","order":4,"width":0,"height":0,"passthru":true,"topic":"ns=2;i=4","min":0,"max":"100","step":1,"x":430,"y":760,"wires":[["4cdd7f07.c4156"]]},{"id":"7aff9f0c.887c58","type":"ui_slider","z":"5a42411f.a61d9","name":"Green","label":"Green","group":"115d597b.914ad7","order":5,"width":0,"height":0,"passthru":true,"topic":"ns=2;i=4","min":0,"max":"100","step":1,"x":430,"y":800,"wires":[["f62313ab.eef988"]]},{"id":"80df023.533a78","type":"OpcUa-Client","z":"5a42411f.a61d9","endpoint":"25763f9c.33d99","action":"write","time":10,"timeUnit":"s","name":"","x":920,"y":1040,"wires":[[]]},{"id":"a6b27a6.5f07a08","type":"OpcUa-Item","z":"5a42411f.a61d9","item":"ns=2;i=4","datatype":"String","value":"","name":"","x":740,"y":1040,"wires":[["80df023.533a78"]]},{"id":"12016de6.ad5fb2","type":"inject","z":"5a42411f.a61d9","name":"","topic":"ns=2;i=4","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":760,"wires":[["58a07a10.978c9c","7aff9f0c.887c58","885a832d.be7e7"]]},{"id":"5ae1c3e6.4a9a1c","type":"debug","z":"5a42411f.a61d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":680,"wires":[]},{"id":"4cdd7f07.c4156","type":"function","z":"5a42411f.a61d9","name":"temp","func":"msg.topic=\"blue\";\nmsg.payload= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":760,"wires":[["196bf8e0.282f67"]]},{"id":"f62313ab.eef988","type":"function","z":"5a42411f.a61d9","name":"temp","func":"msg.topic=\"green\";\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":800,"wires":[["196bf8e0.282f67"]]},{"id":"2c8a1d43.b59de2","type":"function","z":"5a42411f.a61d9","name":"temp","func":"msg.topic=\"red\";\nmsg.payload=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":840,"wires":[["196bf8e0.282f67"]]},{"id":"196bf8e0.282f67","type":"function","z":"5a42411f.a61d9","name":"Merge the two","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"blue\":\n        context.data.blue = msg.payload;\n        break;\n    case \"green\":\n        context.data.green = msg.payload;\n        break;\n    case \"red\":\n        context.data.red = msg.payload;\n        break;\n\n}\n\nif(context.data.blue !== null && context.data.green !== null && context.data.red !== null ) {\n\tmsg2 = {};\n    msg2.payload = [context.data.blue, context.data.green , context.data.red]\n    \n    \n\treturn msg2;\n} ","outputs":1,"noerr":0,"x":740,"y":800,"wires":[["8cc22763.e1c398","a6b27a6.5f07a08"]]},{"id":"8cc22763.e1c398","type":"debug","z":"5a42411f.a61d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":940,"y":800,"wires":[]},{"id":"99040500.d9f838","type":"ui_slider","z":"5a42411f.a61d9","name":"","label":"slider","group":"115d597b.914ad7","order":0,"width":0,"height":0,"passthru":true,"topic":"ns=2;i=3","min":0,"max":"120","step":1,"x":270,"y":920,"wires":[["7f08fe67.e9426"]]}]